@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
    background-color: #185ADB;
    font-family: "Poppins", sans;
    padding: 0%;
    margin: 0%;
    color: whitesmoke;
}

a
{
    text-decoration: none;
    color: whitesmoke;
}

table
{
    border: 2px solid #FFC947;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

th, td
{
    border: 2px solid #FFC947;
    margin: 0;
    text-align: center;
}

.sections p
{
    text-align: center;
}

#Header
{
    height: 10vh;
    padding: 0 5%;
    width: 90%;
    position: fixed;
    background-color: #185ADB;
    box-shadow: rgba(17, 17, 17, 0.35) 0px 5px 15px;
    margin-bottom: 10vh !important;
}

.Logo
{
    width: 25%;
    height: 10vh;
    font-size: 6vh;
    text-align: left;
    float: left;
}

.Menu
{
    height: 10vh;
}

.Menu ul
{
    margin: 0;
    list-style: none;
    text-align: right;
    padding-top: 20px;
}

.Menu li
{
    display: inline;
    vertical-align: middle;
    padding: 0 15px;
    font-size: 16px;
}

#HomePage
{
    padding: 17vh 10%;
    height: 70vh;
}

.BoxImg, .Heading
{
    width: 50%;
    height: 50vh;
    float: left;
}

.BoxImg img
{
    width: 70%;
}


.Heading
{
    padding-top: 10vh;
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
    line-height: 1.5;
}

#BottomArrow
{
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 40px;
}

#BottomArrow i
{
    margin-top: 10vh;
}


/* Section  CSS */
section
{
    width: 100%;
    height: 80vh;
    padding-top: 10vh;
}

.Title
{
    text-align: center;
    font-size: 45px;
}

.Subtitle
{
    text-align: center;
    font-size: 17px;
    margin-top: -5vh;
}

.sections
{
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}


.Section1
{
    background-color: #FFC947;
    width: 49%;
    height: 50vh;
    float: left;
    color: black;
}

.Section1 h3, .Section2 h3, .Section1A h3, .Section2A h3
{
    text-align: center;
}

.Section2 h3, .Section2A h3
{
    margin-top: 15px;
}

.Section1 p, .Section1A p
{
    text-align: center;
    font-size: 14px;
    padding: 0 5%;
    overflow-y: scroll;
    height: 39vh;
}

.Section2 p, .Section2A p
{
    text-align: center;
    font-size: 14px;
    overflow-y: scroll;
    height: 39vh;
}

.Section2
{
    float: right;
    width: 50%;
    height: 50vh;
    margin-top: -3px;
    border-top: 5px dotted #FFC947;
    border-right: 5px dotted #FFC947;
    border-bottom: 5px dotted #FFC947;
}

.Section2 p, .Section2A p
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.Section1A
{
    background-color: #FFC947;
    width: 49%;
    height: 50vh;
    float: right;
    color: black;
}

.Section2A
{
    float: left;
    width: 50%;
    height: 50vh;
    margin-top: -3px;
    border-top: 5px dotted #FFC947;
    border-left: 5px dotted #FFC947;
    border-bottom: 5px dotted #FFC947;
}


.Divs
{
    width: 80%;
    height: 58vh;
    margin-top: -5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.div1
{
    width: 100%;
    height: 12vh;
    font-size: 13px;
    text-align: center;
    padding: 0 5px;
    margin-left: -10px;
    border: 5px dotted #FFC947;
}

.div2, .div3, .div4
{
    width: 30%;
    height: 40vh;
    float: left;
    margin-top: 4vh;
    color: black;
    background-color: #FFC947;
}

.div2 h3, .div3 h3, .div4 h3
{
    font-size: 13px;
}

.div2 p, .div3 p, .div4 p
{
    font-size: 12px;
    padding: 15px;
    overflow-y: scroll;
}

.div2
{
    margin-right: 5%;
}

.div4
{
    margin-left: 5%;
}